.Dictionary{
margin: 20px;
}

section{
    background: rgb(245, 207, 245);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0 0 0 / 10%);
    margin: 20px 0;
}

input{
    width: 90%;
    border: 1px solid rgb(214, 209, 209);
    padding: 2.5px 10px;
}

@media (max-width:600px){
    input{
width: 75%;
    }
}

.button{
    background:#0B7DDA;
}


.formSearch{
    text-align: center;
}

.firstImage{
    padding-top: 20px;
}